.custom-accordion
    .item
        .icon 1
        .title
            .text дивергент
        .content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi dolor repellendus quidem! Alias voluptatum enim eius id illum accusamus ut amet rerum delectus
    .item
        .icon 2
        .title
            .text Ipsam hic quia
        .content Porro explicabo ad molestiae incidunt, corporis doloribus, numquam assumenda molestias deserunt provident veritatis
    .item
        .icon 3
        .title
            .text In impedit
        .content Repudiandae non ea nam sint accusamus provident aut nobis excepturi, possimus animi corrupti debitis porro
    .item
        .icon 4
        .title
            .text Consequatur
        .content Cum repellendus, aspernatur error eos autem porro asperiores praesentium quae odit est fugiat suscipit commodi architecto doloribus
    .item
        .icon 5
        .title
            .text Reiciendis
        .content Laudantium vero ab atque natus et similique? Perferendis unde a voluptates voluptas tempora quaerat
    .item
        .icon 6
        .title
            .text Iure blanditiis
        .content Officiis ipsa suscipit, quidem odio, ratione sapiente consectetur nemo voluptatum maxime
    .item
        .icon 7
        .title Nemo pariatur
        .content
            .heart-icon &hearts;