.container  p {
    text-align: center;
}

body {

    background-image: linear-gradient(to top,  black 20%, transparent 64%) , url(../image/castingImage/art5.jpg);
    background-size: contain;
    

  
}

p , ul,h3  {
  color: aliceblue;
    border-radius: 20px;
}