.container  p {
    text-align: center;
}

body {

    background-image: linear-gradient(to top, black 39%, transparent 90%) , url(../image/tenBlackQuest/art3.jpg);
    background-size:contain;


}

p , ul,h3  {
  color: aliceblue;  
}
